# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.xwm

# PDF and other output files
*.dvi
# *.pdf
*.ps
*.eps

# Intermediate directories created by LaTeX editors
/auto/
*.pdfsync

# Specific to TeXShop (Mac OS LaTeX editor)
*.synctex(busy)
*.pdfsync
*.texpadtmp
*.TexShop-autosave

# Specific to WinEdt
*.bak

# Specific to Kile (KDE LaTeX editor)
*.backup

# Temporary files created by various editors
*~
.*.swp
*.tmp
*.backup

# User-specific configuration files
*.latexmkrc
latexmkrc

# Directory for LaTeX editor settings (e.g., TeXworks, TeXstudio)
.*/.settings/
.idea/
.vscode/
.venv/

# For bibtex/biber (bibliography files)
*.bbl
*.bcf
*.blg
*.run.xml
